button {
  cursor:pointer;
}

.card{
  min-height: 500px;
}

.small{
  color: #424141
}

.mytext{
    border:0;padding:10px;background:whitesmoke;
}
.text{
    width:75%;display:flex;flex-direction:column;
}
.text-l{
    float:left;padding-right:10px;
}
.text-r{
    float:right;padding-left:10px;
}
.username {
    display:flex;
    justify-content:center;
    align-items:center;
    width:25%;
    float:left;
    background-color:rgba(255, 255, 255, 0.3);
}
.macro{
    margin-top:5px;width:85%;border-radius:5px;padding:5px;display:flex;
}
.msj-rta{
    float:right;background:#e2dcff;
}
.msj{
    float:left;background: #5cf585;
}
#messageBox {
    list-style-type: none;
    display:flex;
    flex-direction: column;
    padding:10px 0px;
    height:300px;
    overflow-y:scroll;
}
input:focus{
    outline: none;
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #d4d4d4;
}
::-moz-placeholder { /* Firefox 19+ */
    color: #d4d4d4;
}
:-ms-input-placeholder { /* IE 10+ */
    color: #d4d4d4;
}
:-moz-placeholder { /* Firefox 18- */
    color: #d4d4d4;
}
